@model KosaricaViewModel

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore


@if (Model.Kosarica.ArtikliKosarice.Count > 0)
{
    <li style="display:inline-block">
        <a asp-controller="Kosarica" style="color: white;">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @Model.Kosarica.ArtikliKosarice.Count
            </span>
        </a>
    </li>
}