@model Narocilo


<div class="row orderForm ">
    <h3 class="text-center">Tvoje naročilo je samo 1 klik stran!</h3>

    <form asp-action="ZakljucekNarocila" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label asp-for="ime" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="priimek" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="priimek" class="form-control" />
                <span asp-validation-for="priimek" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="naslov" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="naslov" class="form-control" />
                <span asp-validation-for="naslov" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="posta" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="posta" class="form-control" />
                <span asp-validation-for="posta" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="kraj" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="kraj" class="form-control" />
                <span asp-validation-for="kraj" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="telefon" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="telefon" class="form-control" />
                <span asp-validation-for="telefon" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="enaslov" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="enaslov" class="form-control" />
                <span asp-validation-for="enaslov" class="text-danger"></span>
            </div>
        </div>

    </form>
</div>