@model IEnumerable<SeminarskaNaloga.Models.Artikel>

@{
    ViewData["Title"] = "Izdelki";
}

<div class="row">
    @if(User.IsInRole("Lastnik"))
    {
        <div class="text-white" style="padding:1%;">
            <a asp-controller="Artikel" asp-action="Create" class="btn btn-success" style="background-color: #530961;border-color:#530961"> <i>Dodaj nov artikel</i></a>
        </div>
    }
    @foreach (Artikel artikel in Model)
    {
        @Html.Partial("ArtikelSummary",artikel)
    }
</div>

