@model IEnumerable<SeminarskaNaloga.Models.Artikel>

@{
    ViewData["Title"] = "Domača stran";
}

<div>
    <div class="text-center telo">
        <h2 class="display-4 naslovnica" style="font-size: 500%;">Dobrodošli</h2>
        <div class="night">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
    
</div>

